<div class="container">
  
  <div *ngIf="!apiPronta" class="launch-screen">
    <div class="card-launch">
      <h1>Teste Técnico ANBIMA</h1>
      <p>Nossos servidores no Render podem levar até 50s para ligar no plano gratuito.</p>
      
      <button class="btn-launch" (click)="acordarApi()" [disabled]="acordandoApi">
        {{ acordandoApi ? ' Ligando os motores...' : 'Acordar Render' }}
      </button>
    </div>
  </div>

  <div *ngIf="apiPronta">
    
    <header class="main-header">
      <div class="brand">
        <h1>FastFood</h1>
      </div>
      
      <nav class="navigation">
        <a routerLink="/pedidos" routerLinkActive="active" class="nav-link">Ver Pedidos</a>
        <a routerLink="/novo-pedido" routerLinkActive="active" class="nav-link">Novo Pedido</a>
      </nav>
    </header>

    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>